#birinci
    .boxx
        display: flex
        justify-content: space-around
        .box1
            width: 200px
            height: 200px
            background-color: #467fb4
            margin: 50px
            padding: 50px
            .minibox
                width: 100px
                height: 100px
                background-color: #254766
                padding: 40px
                color: #ffff
    .boxbtn
        display: flex
        justify-content: space-around
        .btn
            width: 100px
            background-color: #70087e
            color: #ffff
    .box3
        display: flex
        justify-content: space-around
        .mbox
            width: 180px
            height: 180px
            border-radius: 50%
            background-color: #c06e11
            padding: 80px
            margin: 30px
            color: #ffff
