#birinci
      .box1
         width: 200px
         height: 200px
         background-color: #6c6cf5
         color: #ffff
         margin: 30px
         .minibox
            width: 50px
            height: 50px
            display: flex
            justify-content: center
            align-items: center
            background-color:#21214b
            transition: 2s
            &:hover
               width: 150px
               height: 150px
      .btn
         width: 100px
         height: 50px
         border: 2px solid #ba21d8
         background-color: #ba21d8
         margin: 40px
         color: #ffff
         h2
            &:hover
               cursor: pointer
         &:hover
            background-color: #570a66
            cursor: pointer
      .mbox

         border-radius: 50%
         background-color: #e0af27
         padding: 85px
         color: #ffff
         transition: 3s
         &:hover
            border-radius: 5px




   